@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600");
body {
  background-color: #0a0808;
  font-family: "Roboto Condensed", sans-serif;
  color: #ad3225; }
  body footer {
    margin-top: 60px;
    font-weight: bold;
    color: #0e0403;
    font-family: "Roboto Condensed", sans-serif;
    background: #ad3225;
    background: radial-gradient(circle, #ad3225 0%, #0a0808 100%);
    padding: 10px;
    text-align: center; }

header div img {
  width: 50%;
  margin-top: -25px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation-duration: 5s;
  animation-name: aparecer; }

header nav {
  float: right; }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  header nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 16px;
    position: relative; }
  header nav a {
    color: rgba(216, 216, 216, 0.726);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px; }
  header nav a:hover {
    color: white; }
  header nav a::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #ad3225;
    position: absolute;
    top: 0;
    width: 0%;
    opacity: 0.5;
    transition: all ease-in-out 250ms; }
  header nav a:hover::before {
    width: 100%; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.agrandar {
  transition: all 0.2s ease-in-out; }

.agrandar:hover {
  transform: scale(1.13); }

#logo {
  max-width: 60%;
  margin-top: 15px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation-duration: 5s;
  animation-name: aparecer; }

article img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto; }

article h1 {
  margin-top: 100px;
  margin-bottom: 0px;
  margin-left: 20px;
  color: #ad3225;
  font-style: italic;
  font-weight: bold;
  font-size: 3em;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase; }

article p {
  display: flex;
  color: #ad3225;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  margin-left: 20px;
  word-spacing: 1px;
  justify-content: center; }

hr {
  margin: 0px;
  color: #ad3225;
  background-color: #ad3225;
  height: 2px;
  border: none; }

.center {
  text-align: center; }

.sinopsis {
  text-align: center; }

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2; }

.overlay {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .95;
  z-index: -1; }

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: 'Work Sans', sans-serif; }
  .contenedor {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0; }
  header nav {
    float: none;
    text-align: center; }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  header nav li {
    display: inline-block;
    margin-left: 10px;
    padding-top: 20px;
    position: relative; }
  header nav a {
    color: rgba(216, 216, 216, 0.726);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px; }
  header nav a:hover {
    color: white; }
  header nav a::before {
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #ad3225;
    position: absolute;
    top: 0;
    width: 0%;
    opacity: 0.5;
    transition: all ease-in-out 250ms; }
  header nav a:hover::before {
    width: 100%; }
  #logo {
    width: 90%;
    max-height: 200px;
    margin-top: 15px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation-duration: 5s;
    animation-name: aparecer; }
  h1 {
    text-align: center; }
  img {
    width: 90%; }
  iframe {
    width: 90%;
    height: 40vh; } }

@media only screen and (max-width: 400px) {
  iframe {
    width: 90%; } }

/* E-SHOP .CSS */

.block {
  display: block;
  text-align: center; }

table {
  border: 3px solid;
  background-color: #231f20;
  margin: auto;
  padding: auto; }

tr,
td {
  border: 1px solid; }

th {
  background-color: white;
  border: 1px solid; }

.tabla1 {
  margin-top: 80px;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 10px;
  margin: 10px; }

/* FORMULARIOTABLA */
/* sucursales */
.FormularioTabla {
  padding-top: 40px;
  font-size: 200%; }

input {
  font-size: large; }

select {
  font-size: large; }

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header header header"
 "contenido contenido sidebar"
 "widget-1 widget-2 sidebar"
 "footer footer footer"; }

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
  background: radial-gradient(circle, #ad3225 0%, #0a0808 100%);
  padding: 20px;
  border-radius: 4px;
  text-align: center; }

.contenedor .header {
  background: radial-gradient(circle, #ad3225 0%, #0a0808 100%);
  color: #fff;
  grid-area: header;
  text-align: center; }

.contenedor .contenido {
  grid-area: contenido; }

.h1cont {
  margin-top: 0px; }

.blanco {
  color: #fff; }

.contenedor .sidebar {
  grid-column: 3 / 4;
  background: radial-gradient(circle, #ad3225 0%, #0a0808 100%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  grid-area: sidebar; }

.contenedor .widget-1,
.contenedor .widget-2 {
  background: radial-gradient(circle, #ad3225 0%, #0a0808 100%);
  color: white;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.contenedor .widget-1 {
  grid-area: widget-1; }

.contenedor .widget-2 {
  grid-area: widget-2; }

.contenedor .footer {
  background: radial-gradient(circle, #ad3225 0%, #0a0808 100%);
  color: #fff;
  grid-area: footer; }

@media screen and (max-width: 768px) {
  .contenedor {
    grid-template-areas: "header header header"
 "contenido contenido contenido"
 "sidebar sidebar sidebar"
 "widget-1 widget-1 widget-2"
 "footer footer footer"; } }

.foto-responsive {
  width: 90%;
  height: 90%; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.foto-responsive {
  width: 100%; }

/* Contacto */
.flex {
  display: flex;
  justify-content: center; }
  .flex .center--tabla {
    align-items: center;
    justify-content: center;
    display: flex; }

.FormularioTabla {
  padding-top: 40px;
  font-size: 200%;
  display: flexbox;
  flex-direction: column; }

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center; }

input {
  font-size: large;
  justify-content: center;
  padding: 0;
  margin: 0; }

select {
  font-size: large; }

.correr {
  margin-right: 30px; }

.cartas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  justify-content: center; }

.carta {
  display: grid;
  grid-template-columns: 20rem;
  grid-template-rows: 15rem 13rem 5rem;
  grid-template-areas: "image" "text" "stats";
  border-radius: 2em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
  margin-left: 35px;
  margin-top: 25px;
  opacity: .6;
  transition: 0.5s ease;
  cursor: pointer; }

.carta:hover {
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  background-color: #070707; }

.carta-image {
  grid-area: image;
  background: url(../img/eren.png);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover; }

.carta-text {
  grid-area: text;
  margin: 10px;
  font-size: 1em;
  font-family: "Roboto Condensed", sans-serif;
  color: white; }

.card-stats {
  grid-area: stats; }

.mikasa {
  background: url(../img/mikasa.png);
  background-size: cover;
  background-repeat: no-repeat; }

.armin {
  background: url(../img/armin.jpg);
  background-size: cover;
  background-position: center; }

.content-all {
  width: 250px;
  margin: auto;
  perspective: 600px;
  position: relative;
  margin-top: 50px; }

.content-carrousel {
  width: 100%;
  position: absolute;
  animation: rotar 25s infinite linear;
  transform-style: preserve-3d; }

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer; }

.content-carrousel figure {
  width: 50%;
  height: 160px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 10px 0px #832015;
  transition: all 300ms;
  border-radius: 5px; }

.content-carrousel figure:hover {
  box-shadow: 0px 0px 0px 0px #ad3225;
  transition: all 300ms; }

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px); }

.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px); }

.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px); }

.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px); }

.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px); }

.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px); }

.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px); }

.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px); }

.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px); }

.content-carrousel img {
  width: 100%;
  transition: all 300ms; }

.content-carrousel img:hover {
  transform: scale(1.1);
  transition: all 300ms; }

@keyframes rotar {
  from {
    transform: rotateY(0deg); }
  to {
    transform: rotateY(360deg); } }

.footer--separar {
  margin-top: 570px; }

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2)); }
