
body {
    background-color: #0a0808;
    font-family: "Roboto Condensed", sans-serif;
    color: #ad3225;
      footer {
      margin-top: 60px;
      font-weight: bold;
      color: #0e0403;
      font-family: "Roboto Condensed", sans-serif;
      background: rgb(173,50,37);
      background: radial-gradient(circle, rgba(173,50,37,1) 0%, rgba(10,8,8,1) 100%);  padding: 10px;
      text-align: center;
    }
  }







