@import "body";
@import "header";
@import "variables";
@import "animaciones";

#logo {
  max-width: 60%;
  margin-top: 15px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation-duration: 5s;
  animation-name: aparecer;
}

article {
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
  }

  .h--article {
    margin-top: 100px;
    margin-bottom: 0px;
    margin-left: 20px;
    color: $colorletra;
    font-style: italic;
    font-weight: bold;
    font-size: 3em;
    font-family: $TipoDeFuente;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .contenedor--video {
    text-align: center;
    width: 100%;
  }

  iframe {
    width: 40vw;
  }

  p {
    display: flex;
    color: $colorletra;
    font-family: $TipoDeFuente;
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 0px;
    word-spacing: 1px;
    justify-content: center;
  }

  hr {
    margin: 0px;
    color: $colorletra;
    background-color: $colorletra;
    height: 2px;
    border: none;
  }
}

.center {
  text-align: center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

.overlay {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.95;
  z-index: -1;

  /* Agrega una capa para oscurecer el video */
}

.cartas--personajes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  align-items: center;
}

.carta--personaje {
  display: grid;
  grid-template-columns: 20rem;
  grid-template-rows: 15rem 13rem 5rem;
  grid-template-areas: "image" "text" "stats";
  border-radius: 2em;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
  margin-left: 20px;
  margin-top: 25px;
  opacity: 0.7;

  transition: 0.5s ease;
  cursor: pointer;
}

.carta--personaje:hover {
  opacity: 1;
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
  background-color: rgb(7, 7, 7);
}

.carta-image {
  grid-area: image;
  background: url(../img/eren.png);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.carta-text {
  grid-area: text;
  margin: 10px;
  font-size: 1em;
  font-family: $TipoDeFuente;
  color: white;
}

.card-stats {
  grid-area: stats;
}

.mikasa {
  background: url(../img/mikasa.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.armin {
  background: url(../img/armin.jpg);
  background-size: cover;
  background-position: center;
}

.levi {
  background: url(../img/Levi_Ackerman.png);
  background-size: cover;
  background-position: center;
}

.hange {
  background: url(../img/hange.jpg);
  background-size: cover;
  background-position: center;
}

.reiner {
  background: url(../img/reiner.png);
  background-size: cover;
  background-position: center;
}

.sasha {
  background: url(../img/sashsa.png);
  background-size: cover;
  background-position: center;
}

.jean {
  background: url(../img/jean.jpg);
  background-size: cover;
  background-position: center;
}

.connie {
  background: url(../img/connie.png);
  background-size: cover;
  background-position: center;
}

.annie {
  background: url(../img/annie.jpg);
  background-size: cover;
  background-position: center;
}

.content-all {
  width: 250px;
  margin: auto;
  perspective: 600px;
  position: relative;
  margin-top: 30px;
  align-items: center;
  text-align: center;

  .content-carrousel {
    width: 100%;
    position: absolute;
    animation: rotar 25s infinite linear;
    transform-style: preserve-3d;

    figure {
      width: 50%;
      height: 160px;
      overflow: hidden;
      position: absolute;
      box-shadow: 0px 0px 10px 0px #832015;
      transition: all 300ms;
      border-radius: 5px;
    }

    figure:hover {
      box-shadow: 0px 0px 0px 0px #ad3225;
      transition: all 300ms;
    }

    figure:nth-child(1) {
      transform: rotateY(0deg) translateZ(300px);
    }

    figure:nth-child(2) {
      transform: rotateY(40deg) translateZ(300px);
    }

    figure:nth-child(3) {
      transform: rotateY(80deg) translateZ(300px);
    }

    figure:nth-child(4) {
      transform: rotateY(120deg) translateZ(300px);
    }

    figure:nth-child(5) {
      transform: rotateY(160deg) translateZ(300px);
    }

    figure:nth-child(6) {
      transform: rotateY(200deg) translateZ(300px);
    }

    figure:nth-child(7) {
      transform: rotateY(240deg) translateZ(300px);
    }

    figure:nth-child(8) {
      transform: rotateY(280deg) translateZ(300px);
    }

    figure:nth-child(9) {
      transform: rotateY(320deg) translateZ(300px);
    }

    img {
      width: 100%;
      transition: all 300ms;
    }

    img:hover {
      transform: scale(1.1);
      transition: all 300ms;
    }
  }

  .content-carrousel:hover {
    animation-play-state: paused;
    cursor: pointer;
  }

  @keyframes rotar {
    from {
      transform: rotateY(0deg);
    }

    to {
      transform: rotateY(360deg);
    }
  }
}

.footer--contacto {
  margin-top: 120px;
}

.footer--index {
  margin-top: 30px;
}

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
}

.main-form {
  width: 450px;
  margin: auto;
}

label {
  color: white;
}

.btn-primary {
  background-color: $colorletra;
  border: $colorletra;
  width: 200px;
  margin-left: 120px;
  margin-top: 20px;
}

.h--seo {
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 3em;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.h--personajes {
  text-align: center;
  margin-top: 80px;
}

.h--e-shop {
  margin-top: 80px;
  text-align: center;
}

.footer--E-Shop {
  margin-top: 500px;
}

.h--contacto {
  margin-top: 60px;
  text-align: center;
}

.footer--contacto {
  height: 190px;
  margin-bottom: 20px;
}

.footer--personajes {
  margin-top: 100px;
}

.header--sucursales {
  margin-bottom: 70px;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header header header"
    "contenido contenido sidebar"
    "widget-1 widget-2 sidebar"
    "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
  background: radial-gradient(circle, #ad3225 0%, #0a0808 100%);
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}

.contenedor .header {
  background: radial-gradient(circle, #ad3225 0%, #0a0808 100%);
  color: #fff;
  grid-area: header;
  text-align: center;
  font-size: 1.2em;
}

.contenedor .contenido {
  grid-area: contenido;
}

.h1cont {
  margin-top: 0px;
}

.blanco {
  color: #fff;
}

.contenedor .sidebar {
  grid-column: 3 / 4;
  background: radial-gradient(circle, #ad3225 0%, #0a0808 100%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2 {
  background: radial-gradient(circle, #ad3225 0%, #0a0808 100%);
  color: white;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor .widget-1 {
  grid-area: widget-1;
}

.contenedor .widget-2 {
  grid-area: widget-2;
}

.contenedor .footer {
  background: radial-gradient(circle, #ad3225 0%, #0a0808 100%);
  color: #fff;
  grid-area: footer;
}

@import "oldcss";
